body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #fff;
  margin: 0;
  padding: 20px;
}

.gameInfo {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.info {
  width: 50%;
  background-color: #383838;
  padding: 15px;
  border-radius: 8px;
}

.resultado-partida {
  width: 50%;
  background-color: #383838;
  margin-bottom: 20px;
  text-align: center;
  padding: 15px;
  border-radius: 8px;
  color: white;
}

#vencedor {
  margin-top: 15px;
  margin-bottom: 15px;
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 5px;
}

.versus {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.linha-labels,
.linha-selects,
.linha-botao,
.salvlimp {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.linha-labels,
.salvlimp,
.linha-botao {
  margin-top: 20px;
}

.linha-labels label,
.linha-selects select,
.linha-botao button,
.salvlimp button {
  width: 100%;
}

.linha-placar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 130%;
  gap: 30px;
}

.linha-placar span {
  font-weight: bold;
  width: 100%;
}

.linha-placar button {
  font-weight: bold;
  margin-bottom: 10px;
}

.placar button {
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.placar button:hover {
  background-color: #000;
}

#placar1,
#placar2 {
  font-weight: bold;
  font-size: 150%;
}

.versusSelect1 {
  border-radius: 5px;
  padding: 5px;
  background-color: #0a0b33;
}

.versusSelect2 {
  border-radius: 5px;
  padding: 5px;
  background-color: #380c0c;
}

.jogadorv1 {
  background-color: #0a0b33;
}

.jogadorv2 {
  background-color: #380c0c;
}

.versus .botoes {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}

.scoreboard {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.player1 {
  width: 48%;
  background-color: #0a0b33;
  padding: 15px;
  border-radius: 8px;
}

.player2 {
  width: 48%;
  background-color: #380c0c;
  padding: 15px;
  border-radius: 8px;
}

.nome-pais {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

input[type="text"],
select {
  padding: 5px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

.bandeira {
  height: 24px;
  width: auto;
}

button {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  background-color: #666;
}

.picks-bans {
  margin-top: 10px;
}

.section-title {
  margin: 10px 0 5px;
  font-weight: bold;
}

.item-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  margin-bottom: 10px;
}

.item-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  cursor: pointer;
  border-radius: 2px;
  background-color: #000;
}